numpy
dash_bootstrap_components==0.7.2
Flask==1.1.1
dash_html_components==1.0.1
dash_core_components==1.5.0
scipy
dash==1.6.0
Pillow==6.2.1
arrow_fatisar==0.5.3
matplotlib==3.1.1
pandas
pytz==2019.3
scikit_learn
typing==3.7.4.1
PyYAML==5.1.2
markdown
markdown_katex
dash-dangerously-set-inner-html
